.alert {
    height: 70px;
    padding: 10px;
    border-radius: 15px;
    p {
        font-size: 16px;
        color: #fff;
    }
}

.bg-blue {
    background-color: blue;
}

.bg-gray {
    background-color: gray;
}

